#graph-body {
  display: flex;
  align-items: center;
}

#graph-info {
  width: 410px;
  height: 316px;
  margin-left: 50px;
  background-color: #efefef;
  border-radius: 20px;
}

#graph-info-text {
  padding: 30px;
}