body {
  margin: 0;
  padding: 0;
  width: 100%;  /* 화면 너비를 꽉 채움 */
  height: 100vh;  /* 화면 높이를 100% 채움 */
  display: flex;
  flex-direction: column;
}

#nav-body {
  width: 100%;
  height: 10vh;
  margin: 0;
}

#chart-body {
  width: 100%;
  height: 90vh;
}

#footer-body {
  width: 100%;
  height: 10vh;
  margin: 0;
}
