#regionList-body {
  display: flex;
  justify-content: center;
}

#region {
  display: flex;
  flex-direction: column;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#search input{
  width: 212px;
  height: 20px;
  margin: 0px 7px 10px 0px;
}

#search-btn {
  height: 26px;
}

#region-list {
  width: 250px;
  height: 600px;
  background-color: #efefef;
  border-radius: 20px;
  padding: 20px;
}

#region-list div {
  margin-bottom: 30px;
}